  <!-- Banner Background -->


  <div class="hidden-md hidden-lg" style="align-items: right;">
    <div class="col-12" style="background: red; text-align: center;">
<br><h3blanc2>Recrutement en cours <br>pour un emploi d'été: <br><a href="https://docs.google.com/document/d/1OnlMLJ_PPue3qwt0atHy-bY46GVgZYvqJ4ziHOVLe9s/edit?usp=sharing" class="button-main button-light" target="blank">Description ici!</a></h3blanc2><br><br>
  </div>
        </div>
        <div class="hidden-xs hidden-sm" style="align-items: right;">
    <div class="col-12" style="background: red; text-align: center;">
<br><h3blanc2>Recrutement en cours pour un emploi d'été: <a href="https://docs.google.com/document/d/1OnlMLJ_PPue3qwt0atHy-bY46GVgZYvqJ4ziHOVLe9s/edit?usp=sharing" class="button-main button-light" target="blank">Description ici!</a></h3blanc2><br><br>
  </div>
        </div>


<br>
<div class="fullscreen-bg">
  <%= video_tag( 'BackVideoMANI2.mp4', id: 'background', autoplay: true, loop: true, muted: true,poster: 'Fond_ParticipantsParc2.png' )%>
</div>


<div class="navbar-wagon hidden-xs hidden-sm">

  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-left hidden-xs hidden-sm" style="text-align:left; vertical-align: bottom; flex: 1; bottom: 0; flex-wrap: wrap; margin-top: auto; left:10; margin: 100px;        padding: 10px;">
            <%= image_tag "Logo_MtlAnotreImage_MANI.png", alt:"Montréal à notre image", width:"150px", align:"left" %>
  </div>



  <div class="navbar-wagon-right hidden-xs hidden-sm">
      <!--
    <a href="../pages/ete2018" class="navbar-wagon-item navbar-wagon-link">EDITION 2018</a>
     -->
    <a href="http://www.iciela.org/wp/mentors-benevoles/" data-toggle="modal" class="navbar-wagon-item navbar-wagon-link">BÉNÉVOLES</a>
    <a href="https://forms.gle/jhM2i8j2W5btsKrz6" class="button-main button-light">JE VEUX PARTICIPER</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <!--
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Inscription</a></li>
        <li><a href="#">Parents</a></li>
        <li><a href="#">Bénévoles</a></li>
        <li><a href="#">Partenaires</a></li>
      </ul>
    </div>
  </div>
    -->
</div>


<div class="banner">
  <div class="hidden-lg">
    <div class="col-xs-12" style="align-items: center; text-align: center;">
      <%= image_tag("Logo_MtlAnotreImage_MANI_logos.png", width:'250', alt:"Montréal à notre image") %><br><br><br><br>
      <h2>Joins-toi aux leaders interculturels</h2>
      <br><br>
      <a href="https://forms.gle/jhM2i8j2W5btsKrz6" class="button-main button-light home_see_how_btn" >INSCRIS-TOI!</a><br><br><br><br>
    </div>
  </div>

  <!-- Main Logo -->
  <div class="hidden-xs hidden-sm hidden-md">

    <div class="col-md-6" style="align-items: right;">
      <div class="banner-content">
        <div class="logo-grand hidden-md hidden-lg" style="align-items: right;">
        </div>
        <div class="logo-grand hidden-xs hidden-sm" style="align-items: right;">
          <%= image_tag("Logo_MtlAnotreImage_MANI_logos2.png", width:'450', alt:"Montréal à notre image", align:'right') %>
        </div>
      </div>
    </div>

  <!--
  <div class="inscription">
    <a a href="https://docs.google.com/forms/d/e/1FAIpQLSctMJrAXMbql1kCCpkRgkEovlLwazGZjgi6ZW-xDqvvqhTagA/viewform?usp=sf_link" class="banner-wagon-item banner-wagon-button inscription">INSCRIPTION</a>
  </div>
    -->

   <!-- Main Text -->
    <div class="col-md-6" style="">
      <div class="hidden-xs hidden-sm hidden-md" style="align-items: left;">
        <h1>Joins-toi <br>aux leaders interculturels</h1>
        <h3blanc2><br>Développe tes compétences <b>citoyennes</b><br>et <b>interculturelles</b> pour agir et mettre <br>en valeur la <b>diversité de Montréal!</b><BR><BR>Juillet à novembre 2019 &#8226; 12 à 17 ans</h3blanc2><br><br><br>
        <a href="https://forms.gle/jhM2i8j2W5btsKrz6" class="button-main button-light home_see_how_btn" >SOUMETS TA CANDIDATURE MAINTENANT!</a>
      </div>
    </div>

  </div>
</div>





