<section class="section3" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'IMG_7494.jpg' %>');">
  <div class="container" style="vertical-align: middle">
    <div class="howitwork">
      <div align="center">
                  <%= image_tag "Logo_MtlAnotreImage_MANI.png", alt:"Montréal à notre image", width:"400px", align:"center" %>
         <h3><strong>En attendant le film de l’édition 2018, voici quelques moments captés sur le vif!
         <br><br>
         <div class="video-container"><iframe width="840" height="473" src="https://www.youtube.com/embed/qyfRPoLWAEk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div><br><br>
      </div>
    </div>
  </div>
</section>

<section class="section1">
<div class="container">
      <div class="row">
      <div class="col-xs-12">
        <div class="description-2-centre"><br>
          <h4>Montréal à notre image c’est… </strong></h4>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="description">
        <i class="fas fa-map" aria-hidden="true" style="text-decoration: none; margin-top: 10px; font-size: 60px"></i>
        <h3><strong>Des visites exceptionnelles</strong></h3>
        <p>Parcourir la ville à la rencontre de communautés culturelles différentes en vivant des moments uniques et amusants d’échange et de partage.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="description">
        <i class="fas fa-video" aria-hidden="true" style="text-decoration: none; margin-top: 10px; font-size: 60px"></i>
        <h3><strong>Un film dont tu seras la vedette</strong></h3>
        <p>Une équipe de tournage qui suit les activités afin de capter à la caméra les meilleurs moments des rencontres et produire un film dont tu feras partie. </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="description">
        <i class="fas fa-share-alt" aria-hidden="true" style="text-decoration: none; margin-top: 10px; font-size: 60px"></i>
        <h3><strong>Partage le goût de la rencontre</strong></h3>
        <p>Avec l’appui de mentors, organise ta propre activité de rencontre interculturelle destinée au grand public qui se tiendra à l’automne.<br><br> <a href="https://docs.google.com/forms/d/e/1FAIpQLSeFRxHBYPJ2LpVI0xIiEwitNit5MhV2MHZbD7rZvd_7FjuXZA/viewform?usp=sf_link" class="banner-wagon-item banner-wagon-button inscription">Pour t'inscrire</a></p>
      </div>
    </div>
  </div>
</div>
</section>
<section class="section3" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.5) 20%,rgba(246,239,248,0.5) 23%,rgba(152,83,179,0.6) 53%,rgba(150,88,181,0.4) 54%,rgba(86,229,235,0.4) 81%,rgba(74,255,245,0.2) 86%,rgba(255,255,255,0.8) 100%,rgba(255,255,255,0.9) 101%), url('<%= image_path 'groupe_mains.png' %>');">
  <div class="container" style="vertical-align: middle">
    <div class="howitwork">
      <div align="center">
          <%= image_tag "Logo_MtlAnotreImage_MANI.png", alt:"Montréal à notre image", width:"400px", align:"center" %>
          <h3><strong>L’aventure continue cet automne avec le programme de leadership interculturel.<br>Viens partager ton goût pour la rencontre.<br><br></h3>
          <h4>Joins-toi à la cohorte de jeunes leaders interculturels de Montréal!</strong></h4><br>
         <a href="https://docs.google.com/forms/d/e/1FAIpQLSeFRxHBYPJ2LpVI0xIiEwitNit5MhV2MHZbD7rZvd_7FjuXZA/viewform?usp=sf_link" class="banner-wagon-item banner-wagon-button inscription">INSCRIPTIONS EN COURS</a>
         <h3>C'est gratuit mais les places sont limitées!<h3>
      </div>
    </div>
  </div>
</section>
<section class="section4">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="description-2-centre">
          <h4>Édition de l'été 2018 </strong></h4><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div align="center">
        <div class="row">
          <div class="col-xs-12">
              <div class="description-2">
                <h3><strong>1. On découvre Montréal en juillet</h3>
                <%= image_tag "Photo1.png", width:"500px", align:"center" %><br><br>
                Pendant deux semaines, du 9 au 20 juillet dernier, les jeunes leaders interculturels sont partis à la découverte de la diversité montréalaise, par une série de visites de divers groupes culturels qui définissent l'identité de la métropole. <br><br>Quelques exemples d'activités qui se sont tenues cette année:</strong><br>
                <h4>8 organismes communautaires</h4>
<ul>
                <li>Elsa du <strong>Forum jeunesse de l'Île de Montréal</strong> nous a fait réfléchir sur l'identité et l'engagement;
</li><li>Carlens de <strong>l'association Bel agir</strong> nous a présenté ce que veut dire être musulman, à Montréal, aujourd'hui;
</li><li>Wayne de <strong>Montréal Autochtone</strong> nous a retracé l'histoire des Premières nations et la situation actuelle de leurs communautés;
</li><li>Guillaume de <strong>Sentier urbain</strong> nous a montré comment tisser des liens sociaux à travers l'agriculture urbaine;
</li><li>Marc-Olivier du <strong>Centre pour le développement de l'exercice de la citoyenneté</strong> nous a articulé les concepts de l'immigration et de la liberté d'expression;
</li><li>enfin, nous avons été accueillis par Frantz Voltaire en personne au <strong>Centre international de documentation et d'information haïtienne, caribéenne et afro-américaine</strong> qui nous a parlé du syncrétisme des cultures (musical. gastronomique, commercial, etc...) dont les communautés montréalaises sont aujourd'hui héritières;
</li></ul>
<h4>6 quartiers de Montréal</h4>Du Mile-end "juif" avec Mémoire du Mile-end, Ville-Marie et son vieux port, le Plateau Mont-Royal, en passant par la Petite-Bourgogne, quartier historique des communautés noires de Montréal accompagnés de Youth in motion, Villeray, Parc Extension et jusqu'à Pointe-aux-Trembles sur le fleuve avec lesJeunes marins urbains !
<br>
<h4>3 institutions</h4>Le Musée McCord à travers son exposition "Shalom"; l'Hôtel-de-ville, maison du citoyen; et le Conseil jeunesse de Montréal, organe consultatif de la ville, qqui nous a fait vivre une exercice de formulation de recommandations citoyennes;
<br>
<h4>2 groupes de danse</h4>Le folklore québécois avec les Pieds légers et le fitness africain avec Djamboola;
<h4>1 coopérative de solidarité alimentaire</h4>Une cuisine collective orchestrée par la cheffe pakistanaise Tayyaba à La Place Commune<br><br>
<h4>Sans oublier les nombreux moments informels d'échanges et de fun !!</h4>
              </div>
          </div>
        </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 container-inm">
        <div class="row">
          <div class="col-xs-12">
              <div class="description-2">
                <h3><strong>2. On passe à l'action durant l'automne</h3>
                <div align="center">
                <%= image_tag "Photo2.png", width:"500px", align:"center" %></div><br>
                Après avoir plongé dans l’univers multiculturel montréalais avec l'activité d'immersion estivale, les jeunes leaders organiseront durant l'automne, en équipes de deux et accompagnés d’un mentor formé par Iciéla, une activité de rencontre interculturelle. </strong>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Qu’est-ce qu’une activité de rencontre interculturelle? </h4>
                Une activité de rencontre interculturelle est un espace convivial créé dans le but de faciliter les rencontres et les échanges entre des personnes de diverses cultures et ce, au coeur du milieu de vie des jeunes (écoles, centre communautaire, centre jeunesse, etc.). Elle sera pensée, développée et organisée par les jeunes avec l'appuis de mentors et elle pourra prendre une panoplie de formes différentes. <br>
                <br>
                Exemples d’activités:
                <ul>
                <li>Dîner communautaire où chacun prépare un plat à partager issu de sa propre culture</li>
                <li>Cercle de lectures du monde</li>
                <li>Partage des bases de sa langue maternelle à un groupe francophone</li>
                <li>Projection de films ou documentaires sur les relations interculturelles suivie d'une séance de discussion </li>
                <li>Visite de son quartier à de nouveaux arrivants</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Pourquoi participer à cette activité?</h4>
                <ul>
                <li>Devenir jeune leader interculturel en tant qu’acteur de changement pour un meilleur vivre-ensemble de la communauté montréalaise en influençant positivement son entourage et en agissant comme promoteur du dialogue interculturel. </li>
                <li>Se sensibiliser à l’impact de l'engagement citoyen, particulièrement dans un contexte de rencontre interculturelle.  </li>
                <li>Acquérir une solide confiance en ses capacités personnelles par l'acquisition d'outils concrets pour favoriser le dialogue interculturel et l'organisation d'activités.</li>
                <li><strong>Le plus important: rencontrer d'autres jeunes passionnés et allumés, et avoir beaucoup de plaisir!</strong></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Qu’est-ce que ça implique pour les jeunes leaders?</h4>
                <p>La deuxième partie de l'activité se déroule sur quatre mois, de septembre à décembre. Le programme débute avec une fin de semaine vers la mi-août (dates à confirmer) où tous les jeunes leaders se retrouvent pour revenir sur leur expérience de l'été et former leurs équipes pour la suite. Durant les trois mois qui suivront, les jeunes leaders auront deux rencontres par mois, une en équipe avec leur mentor et une avec l'ensemble du groupe, pour progresser à travers différentes étapes d’apprentissage, jusqu’à la mise en place et la tenue de leur activité de rencontre interculturelle en novembre. </p>
              </div>
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="row">
      </div>
    </div>
  </div>
</section>



<section class="section1">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6"  style="background-image: url(background_Fatima.png);">
      <div class="description">
        <i class="fa fa-user-plus" aria-hidden="true" style="text-decoration: none; margin-top: 10px; font-size: 60px"></i>
        <h3><strong>Tu as entre 12 et 17 ans?</strong>
         <br>
        Inscris-toi dès maintenant pour te joindre à l'aventure pour l’automne!</h3>

        <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfgPPjGCJcubXr2IDuJEZNVqsWkq6UduNlUKLTmkY4dXDdUPg/viewform?usp=sf_link" class="banner-wagon-item banner-wagon-button inscription">JE M'INSCRIS</a></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="description">
        <i class="fas fa-users" aria-hidden="true" style="text-decoration: none; margin-top: 10px; font-size: 60px"></i>
        <h3><strong>Tu as plus que 17 ans?</strong>
         <br>
        Deviens <strong>mentor interculturel</strong> pour accompagner les participants à l’automne!</h3>

        <p><a href="http://www.iciela.org/wp/mentors-benevoles/" class="banner-wagon-item banner-wagon-button inscription">JE DEVIENS MENTOR</a></p>
      </div>
    </div>
  </div>
</div>
</section>
<!--

<div class="modal fade" id="benevoles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Nous sommes à la recherche de bénévoles</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="parents" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Texte pour les parents</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="partenaires" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Texte pour les partenaires</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="english" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Texte en anglais</div>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103444020-1', 'auto');
  ga('send', 'pageview');

</script>

