      <section >

<div id="home-page">
  <%= render 'shared/banner' %>
</div>
</section>

<section class="section1">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="description">
        <i class="fas fa-map" aria-hidden="true" style="text-decoration: none; margin-top: 10px; font-size: 60px"></i>
        <h3><strong>Des visites exceptionnelles</strong></h3>
        <p>Parcours la ville à la rencontre de communautés culturelles différentes en vivant des moments uniques et amusants d'échange et de partage.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="description">
        <i class="fas fa-video" aria-hidden="true" style="text-decoration: none; margin-top: 10px; font-size: 60px"></i>
        <h3><strong>Un film dont tu seras la vedette</strong></h3>
        <p>Une équipe de tournage suivra les activités afin de capter à la caméra les meilleurs moments des rencontres et produire un film dont tu feras partie.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="description">
        <i class="fas fa-share-alt" aria-hidden="true" style="text-decoration: none; margin-top: 10px; font-size: 60px"></i>
        <h3><strong>Partage le goût de la rencontre</strong></h3>
        <p>Avec l'appui de mentors, organise en équipe ta propre activité de rencontre interculturelle destinée au grand public qui se tiendra à l'automne.</p>
      </div>
    </div>
  </div>
</div>
</section>
<section class="section3" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.5) 20%,rgba(246,239,248,0.5) 23%,rgba(152,83,179,0.6) 53%,rgba(150,88,181,0.4) 54%,rgba(86,229,235,0.4) 81%,rgba(74,255,245,0.2) 86%,rgba(255,255,255,0.8) 100%,rgba(255,255,255,0.9) 101%), url('<%= image_path 'groupe_mains.png' %>');">
  <div class="container" style="vertical-align: middle">
    <div class="howitwork">
      <div align="center">
          <%= image_tag "Logo_MtlAnotreImage_MANI.png", alt:"Montréal à notre image", width:"400px", align:"center" %>
          <h3><strong>L'expérience interculturelle de l'été pour les 12-17 ans.<br>Pour découvrir la diversité de Montréal et partager son goût pour la rencontre.<br><br></h3>
          <h4>Joins-toi à la cohorte de jeunes leaders interculturels de Montréal!</strong></h4><br>
         <a href="https://docs.google.com/forms/d/e/1FAIpQLSfgPPjGCJcubXr2IDuJEZNVqsWkq6UduNlUKLTmkY4dXDdUPg/viewform?usp=sf_link" class="banner-wagon-item banner-wagon-button inscription">INSCRIPTIONS EN COURS</a>
         <h3>C'est gratuit mais les places sont limitées!<h3>
      </div>
    </div>
  </div>
</section>
<section class="section4">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="description-2-centre">
          <h4>Une activité en deux temps:</strong></h4><br>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div align="center">
        <div class="row">
          <div class="col-xs-12">
              <div class="description-2">
                <h3><strong>1. On découvre Montréal en juillet</h3>
                <%= image_tag "Photo1.png", width:"500px", align:"center" %><br><br>
                Pendant deux semaines, du 9 au 20 juillet, les jeunes leaders interculturels partiront à la découverte de la diversité montréalaise, par une série de visites de divers groupes culturels qui définissent l'identité de la métropole. Le tout sera entrecoupé d'activités ludiques pour bouger et profiter de l'été.<br><br>Quelques exemples d'activités qui se tiendront cette année:</strong>
              </div>
          </div>
        </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Montréal Autochtone</h4>
                <p>Organisation d'intervention de première ligne pour les autochtones établis dans la métropole, Montréal Autochtone nous invite à mieux comprendre les réalités de leur communauté.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Danse folklorique québécoise</h4>
                <p>L'Ensemble folklorique Les Pieds Légers de Laval est une société autonome et bénévole vouée à la sauvegarde et au développement de la danse folklorique. La mission première de l'Ensemble consiste à diffuser le patrimoine québécois, mais l'intérêt voué aux traditions du monde a poussé Les Pieds Légers de Laval à explorer également la culture dansée de certains autres pays.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Centre communautaire musulman Bel Agir</h4>
                <p>Installé, rue St Hubert, situé dans l’arrondissement de St-Michel/Parc Extension, ce centre communautaire se veut être un centre de rayonnement, un centre siège de la rencontre de moi avec l’autre, de l’autre avec nous. Un pont, un point de rencontre, pour bâtir demain, ensemble. </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Fenêtre sur la communauté noire</h4>
                <p>Le Centre international de documentation et d'information haïtienne, caribéenne et afro-canadienne (CIDIHCA) nous ouvre ses portes pour nous faire découvrir les cultures caraïbes d’ici et d’ailleurs, et nous faire réfléchir sur la fierté associée à nos origines.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Mémoire du Mile End</h4>
                <p>Le Mile End est l’un des quartiers emblématiques de la diversité et de la créativité montréalaise. Au cours de ses deux cents ans d’histoire, ce secteur s’est renouvelé sans cesse. On peut dire que la seule constante dans son histoire, c’est le changement. </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Gypsy Kumbia</h4>
                <p>La Gypsy Kumbia Orchestra est une explosion de musique, de danse, de cirque et d’imagination. Le groupe est un chaos créatif qui fusionne des percussions afro-colombiennes avec la mélodie des peuples roms de l’Europe de l’Est.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Lien avec le territoire: navigation sur le St-Laurent</h4>
                <p>Montréal est une île et nous l'oublions trop souvent. L'organisation Jeunes Marins Urbains a pour mission de mettre en valeur la culture et le patrimoine maritime.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 container-inm">
        <div class="row">
          <div class="col-xs-12">
              <div class="description-2">
                <h3><strong>2. On passe à l'action durant l'automne</h3>
                <div align="center">
                <%= image_tag "Photo2.png", width:"500px", align:"center" %></div><br>
                Après avoir plongé dans l’univers multiculturel montréalais avec l'activité d'immersion estivale, les jeunes leaders organiseront durant l'automne, en équipes de deux et accompagnés d’un mentor formé par Iciéla, une activité de rencontre interculturelle. </strong>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Qu’est-ce qu’une activité de rencontre interculturelle? </h4>
                Une activité de rencontre interculturelle est un espace convivial créé dans le but de faciliter les rencontres et les échanges entre des personnes de diverses cultures et ce, au coeur du milieu de vie des jeunes (écoles, centre communautaire, centre jeunesse, etc.). Elle sera pensée, développée et organisée par les jeunes avec l'appuis de mentors et elle pourra prendre une panoplie de formes différentes. <br>
                <br>
                Exemples d’activités:
                <ul>
                <li>Dîner communautaire où chacun prépare un plat à partager issu de sa propre culture</li>
                <li>Cercle de lectures du monde</li>
                <li>Partage des bases de sa langue maternelle à un groupe francophone</li>
                <li>Projection de films ou documentaires sur les relations interculturelles suivie d'une séance de discussion </li>
                <li>Visite de son quartier à de nouveaux arrivants</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Pourquoi participer à cette activité?</h4>
                <ul>
                <li>Devenir jeune leader interculturel en tant qu’acteur de changement pour un meilleur vivre-ensemble de la communauté montréalaise en influençant positivement son entourage et en agissant comme promoteur du dialogue interculturel. </li>
                <li>Se sensibiliser à l’impact de l'engagement citoyen, particulièrement dans un contexte de rencontre interculturelle.  </li>
                <li>Acquérir une solide confiance en ses capacités personnelles par l'acquisition d'outils concrets pour favoriser le dialogue interculturel et l'organisation d'activités.</li>
                <li><strong>Le plus important: rencontrer d'autres jeunes passionnés et allumés, et avoir beaucoup de plaisir!</strong></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Qu’est-ce que ça implique pour les jeunes leaders?</h4>
                <p>La deuxième partie de l'activité se déroule sur quatre mois, de septembre à décembre. Le programme débute avec une fin de semaine vers la mi-août (dates à confirmer) où tous les jeunes leaders se retrouvent pour revenir sur leur expérience de l'été et former leurs équipes pour la suite. Durant les trois mois qui suivront, les jeunes leaders auront deux rencontres par mois, une en équipe avec leur mentor et une avec l'ensemble du groupe, pour progresser à travers différentes étapes d’apprentissage, jusqu’à la mise en place et la tenue de leur activité de rencontre interculturelle en novembre. </p>
              </div>
            </div>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="row">
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Identité et engagement jeunesse</h4>
                <p>Rencontre avec des jeunes engagés du Forum jeunesse de l'île de Montréal et du Conseil jeunesse de Montréal, avec lesquels nous échangerons sur la force que peuvent représenter les diverses identités qui nous définissent comme levier pour favoriser notre engagement.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div align="center" class="col-xs-12"><br>
    <%= image_tag "ProgrammeMANI2018.png", alt:"Programme de l'activité 2018", width:"900px", align:"center" %></div>
  </div>
</section>

<section class="section3" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'IMG_7494.jpg' %>');">
  <div class="container" style="vertical-align: middle">
    <div class="howitwork">
      <div align="center">
                  <%= image_tag "Logo_MtlAnotreImage_MANI.png", alt:"Montréal à notre image", width:"400px", align:"center" %>
         <h3><strong>Un film pour partager l'expérience</strong><br>Une série de projections publiques se sont tenues à l'automne 2017 pour susciter la réflexion sur le Vivre ensemble.
         <br><br>
         <div class="video-container"><iframe width="840" height="473" src="https://www.youtube.com/embed/EZGck-jclfQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div><br><br>
      </div>
    </div>
  </div>
</section>

<section class="section1">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6"  style="background-image: url(background_Fatima.png);">
      <div class="description">
        <i class="fa fa-user-plus" aria-hidden="true" style="text-decoration: none; margin-top: 10px; font-size: 60px"></i>
        <h3><strong>Tu as entre 12 et 17 ans?</strong>
         <br>
        Inscris-toi dès maintenant pour participer à l'aventure!</h3>
        <br>
        <strong>Ce que comprend l'aventure:</strong>
        Rencontre d'information le jeudi 5 juillet @ 19h<br>
        10 jours de visites et d'activités à Montréal: 9 au 20 juillet<br>
        Fin de semaine d'orientation avec les mentors à la fin août<br>
        2 rencontres par mois de septembre à décembre pour organiser une activité de rencontre interculturelle avec l'appui de mentors.<br>
        <h3>C'est gratuit mais les places sont limitées!</h3>
        <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSfgPPjGCJcubXr2IDuJEZNVqsWkq6UduNlUKLTmkY4dXDdUPg/viewform?usp=sf_link" class="banner-wagon-item banner-wagon-button inscription">JE M'INSCRIS</a></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="description">
        <i class="fas fa-users" aria-hidden="true" style="text-decoration: none; margin-top: 10px; font-size: 60px"></i>
        <h3><strong>Tu as plus que 17 ans?</strong>
         <br>
        Deviens <strong>mentor interculturel</strong> pour accompagner les participants!</h3>
        <br>
        <strong>Ce que comprend l'expérience de mentor:</strong>
        2 fins de semaine de formation: 19-20 mai et 9-10 juin<br>
        Possibilité de participer à l'animation de l'activité estivale<br>
        Fin de semaine d'orientation avec les jeunes leaders à la fin août<br>
        3 rencontres par mois de septembre à décembre pour organiser une activité de rencontre interculturelle avec les participants et des moments de partage d'expériences entre mentors.<br><br>

        <p><a href="http://www.iciela.org/wp/mentors-benevoles/" class="banner-wagon-item banner-wagon-button inscription">JE DEVIENS MENTOR</a></p>
      </div>
    </div>
  </div>
</div>
</section>
<!--

<div class="modal fade" id="benevoles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Nous sommes à la recherche de bénévoles</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="parents" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Texte pour les parents</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="partenaires" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Texte pour les partenaires</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="english" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Texte en anglais</div>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103444020-1', 'auto');
  ga('send', 'pageview');

</script>

