      <section >

<div id="home-page">

  <%= render 'shared/banner' %>
</div>
</section>

<section class="section1">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="description">
         <%= image_tag "icon1.png", width:"150px", align:"center", margintop:"10px" %>
        <h3><strong>1. Joins-toi à l’équipe</strong></h3>
        <p>Rencontre d'autres jeunes curieux qui veulent découvrir leur ville, et participe à des journées d'activités pour mieux vous connaitre et former une équipe.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="description">
         <%= image_tag "icon2.png", width:"150px", align:"center", margintop:"10px" %>
        <h3><strong>2. Organise une activité d'exploration</strong></h3>
        <p>Avec l'accompagnement d'un mentor, organise en équipe ta propre activité publique de découverte de la diversité.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="description">
         <%= image_tag "icon3.png", width:"100px", align:"center", margintop:"10px" %>
        <h3><strong>3. Deviens un leader de ta communauté</strong></h3>
        <p>Après avoir complété l'activité, devient un leader interculturel reconnu qui fait des ponts entre les communautés.</p>
      </div>
    </div>
  </div>
</div>
</section>
<section class="section3" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.5) 20%,rgba(246,239,248,0.5) 23%,rgba(152,83,179,0.6) 53%,rgba(150,88,181,0.4) 54%,rgba(86,229,235,0.4) 81%,rgba(74,255,245,0.2) 86%,rgba(255,255,255,0.8) 100%,rgba(255,255,255,0.9) 101%), url('<%= image_path 'groupe_discussion.png' %>');">
  <div class="container" style="vertical-align: middle">
    <div class="howitwork">
      <div align="center">
            <div class="logo-grand hidden-xs hidden-sm">
          <%= image_tag "Logo_MtlAnotreImage_MANI_mission.png", alt:"Montréal à notre image", width:"400px", align:"center" %>
            </div>
            <div class="logo-grand hidden-md hidden-lg">
          <%= image_tag "Logo_MtlAnotreImage_MANI_mission.png", alt:"Montréal à notre image", width:"250px", align:"center" %>
            </div>
          <h3>Ta mission, si tu l'acceptes, sera d'organiser avec ton équipe de leaders interculturels et un mentor une activité publique qui permettra la découverte d'une communauté culturelle de ta ville et encouragera les échanges et le partage. <br><br>Cette actviité se tiendra dans le cadre de la Semaine québécoise des rencontres interculturelles en novembre.<br></h3>
          <h4>Joins-toi à la cohorte de jeunes leaders interculturels de Montréal!</h4><br>
         <a href="https://docs.google.com/forms/d/e/1FAIpQLSeFRxHBYPJ2LpVI0xIiEwitNit5MhV2MHZbD7rZvd_7FjuXZA/viewform?usp=sf_link" class="banner-wagon-item banner-wagon-button inscription">INSCRIPTION</a>
         <h3>C'est gratuit mais les places sont limitées!<h3>
      </div>
    </div>
  </div>
</section>
<section class="section4">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div align="center">
         <div class="row">
          <div class="col-xs-12">

            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h3>Qu’est-ce qu’une activité d'exploration interculturelle? </h3>
                Une activité d'exploration interculturelle est un moment de rencontre organisé dans le but d'encourager les échanges entre des personnes de diverses cultures dans ton propre milieu de vie (école, centre communautaire, centre jeunesse, etc.). Elle sera pensée, développée et organisée en équipe par les jeunes leaders avec l'appui de mentors et elle pourra prendre diverses formes, selon la volonté de chaque équipe.<br> <br>
                Le but de ces activités est de faire réfléchir les autres jeunes et les adultes sur l'importance de s'intéresser aux diverses cultures si nous voulons tous et toutes vivre dans une société plus ouverte, inclusive et pacifique, en leur faisant vivre des moments de rencontre simples qui sauront les toucher.
                <br><br>
                Quelques exemples d’activités:
                <ul>
                <li>Dîner communautaire où chacun prépare un plat à partager issu de sa propre culture</li>
                <li>Cercle de lectures du monde</li>
                <li>Partage des bases de sa langue maternelle à un groupe francophone</li>
                <li>Projection de films ou documentaires sur les relations interculturelles suivie d'une séance de discussion </li>
                <li>Visite de son quartier à de nouveaux arrivants</li>
                <li>Toute autre idée est la bienvenue!! Laisse aller ta créativité!</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h3>Comment va se dérouler la mission?</h3>
                Pour t'aider à réaliser ta mission, nous te proposons plusieurs occasions pour obtenir les outils qui te seront nécessaires pour organiser ton activité d'exploration interculturelle. Ces occasions prendront la forme de divers moments de rencontres avec les autres leaders interculturels:<br><br>

<div class="row">
<div class="col-md-3 col-sm-12" style="text-align:center">
<%= image_tag "icon11.png", alt:"Bulles", width:"75px", align:"center" %>

</div>
<div class="col-md-9 col-sm-12">
<strong>Journées de création collective</strong> pour faire cheminer les idées d'activités par des ateliers de formation pour partager tes propres expériences et apprendre de celles des autres leaders.<br><br>

</div>
</div>
<div class="row">
<div class="col-md-3 col-sm-12" style="text-align:center">
<%= image_tag "icon9.png", alt:"Equipe", width:"75px", align:"center" %>

</div>
<div class="col-md-9 col-sm-12">
<strong>Rencontres de décisions en équipe</strong> qui permettront à chacune des équipes de décider ensemble du développement de leur activité d'exploration interculturelle.<br><br>

</div>
</div>
<div class="row">
<div class="col-md-3 col-sm-12" style="text-align:center">
<%= image_tag "icon12.png", alt:"Drapeau", width:"50px", align:"center" %>

</div>
<div class="col-md-9 col-sm-12">
<strong>L'objectif à atteindre: tenir l'activité d'exploration interculturelle </strong>qui invitera le grand public à découvrir la diversité de Montréal par une activité que tu auras toi-même organisée.<br><br>


</div>
</div>

                Afin de remplir ta mission, tu devras franchir 8 étapes, soit 8 moments de rencontre avec les autres leaders interculturels, soit tous ensemble ou au sein de ton équipe. Ces rencontres se tiendront cet automne de septembre à décembre.<br><br>


<div class="row">
<div class="col-md-3 col-sm-12" style="text-align:center">
<%= image_tag "etape1.png", alt:"Étape 1", width:"125px", align:"center" %>

</div>
<div class="col-md-9 col-sm-12">
<strong>Forme ton équipe et convenez de votre objectif</strong><br>Le samedi 8 septembre se tiendra une journée d'ateliers de 9h30 à 16h00 avec l'ensemble des leaders et mentors pour former les équipes et s'entendre sur ce que vous souhaitez accomplir.<br><br>

</div>
</div>
<div class="row">
<div class="col-md-3 col-sm-12" style="text-align:center">
<%= image_tag "etape2.png", alt:"Étape 2", width:"125px", align:"center" %>

</div>
<div class="col-md-9 col-sm-12"><strong>Précise le concept de votre activité</strong><br>Le dimanche 16 septembre se tiendra une deuxième journée d'ateliers de 9h30 à 16h00 avec l'ensemble des leaders et mentors pour vous permettre convenir des actions à poser et d'un échéancier.<br><br>
</div>
</div>
<div class="row">
<div class="col-md-3 col-sm-12" style="text-align:center">
<%= image_tag "etape3.png", alt:"Étape 3", width:"125px", align:"center" %>

</div>
<div class="col-md-9 col-sm-12"><strong>Planifie le déroulement de l'activité</strong><br>Durant la semaine du 24 au 30 septembre, les équipes devront se réunir une fois avec leur mentor pour passer en revue le déroulement de leur activité et répartir les tâches.<br><br>

</div>
</div>
<div class="row">
<div class="col-md-3 col-sm-12" style="text-align:center">
<%= image_tag "etape4.png", alt:"Étape 4", width:"125px", align:"center" %>

</div>
<div class="col-md-9 col-sm-12"><strong>Préparons déjà l'après de l'activité</strong><br>Le dimanche 14 octobre se tiendra une troisième journée d'ateliers de 9h30 à 16h00 avec l'ensemble des leaders et mentors pour aborder la captation média de l'activité pour qu'elle ait une portée au-delà de sa journée.<br><br>

</div>
</div>
<div class="row">
<div class="col-md-3 col-sm-12" style="text-align:center">
<%= image_tag "etape5.png", alt:"Étape 5", width:"125px", align:"center" %>

</div>
<div class="col-md-9 col-sm-12"><strong>Derniers préparatifs et promotion</strong><br>Durant la semaine du 22 au 28 octobre, les équipes devront se réunir une fois avec leur mentor pour assurer les derniers préparatifs et coordonner la mobilisation pour s'assurer d'une forte participation.<br><br>

</div>
</div>
<div class="row">
<div class="col-md-3 col-sm-12" style="text-align:center">
<%= image_tag "etape6.png", alt:"Étape 6", width:"125px", align:"center" %>

</div>
<div class="col-md-9 col-sm-12"><strong>Tenue de l'activité interculturelle</strong><br>C'est durant la semaine du 5 au 9 novembre que se tiendront chacune des activités organisées par les diverses équipes, dans le cadre de la Semaine québécoise des rencontres interculturelles.<br><br>

</div>
</div>
<div class="row">
<div class="col-md-3 col-sm-12" style="text-align:center">
<%= image_tag "etape7.png", alt:"Étape 7", width:"125px", align:"center" %>

</div>
<div class="col-md-9 col-sm-12"><strong>Évaluation de l'activité en équipe</strong><br>Durant la semaine du 26 novembre au 2 décembre, les équipes devront se réunir une fois avec leur mentor pour revenir sur leur activité et en faire l'évaluation.<br><br>

</div>
</div>
<div class="row">
<div class="col-md-3 col-sm-12" style="text-align:center">
<%= image_tag "etape8.png", alt:"Étape 8", width:"125px", align:"center" %>

</div>
<div class="col-md-9 col-sm-12"><strong>On fait quoi maintenant?</strong><br>Le samedi 15 décembre se tiendra une dernière journée d'ateliers de 9h30 à 16h00 avec l'ensemble des leaders et mentors pour que chaque équipe partage son expérience et entrevoir tous ensemble d'autres actions à venir.<br><br>

</div>
</div>

                Deux autres activités sont à prévoir au calendrier. Bien qu'elles ne soient pas obligatoires, nous encourageons fortement d'y participer comme il s'agit d'autres occasions de rencontres et d'apprentissages:<br><br>
                <ul><li><strong>Vendredi 12 octobre en soirée:</strong> Lancement public de la programmation des activités d'exploration interculturelles (lieu à confirmer)<br>
                </li>
                <li>
                <strong>Samedi 10 novembre:</strong> Présentation des activités qui se seront tenues dans le cadre de l'Agora citoyenne du Vivre-ensemble, un événement public qui mettra en valeur les initiatives de chacune des équipes.
</li>
                </ul>
              </div>
            </div>
          </div>

      </div>
    </div>
          <div class="col-xs-12 col-sm-6 container-inm">
        <div class="row">
          <div class="col-xs-12">
                          <div class="description-2">
                <h4><strong>Le coin des parents et enseignants</h4><br><br>
                <div align="center">
                    <div class="logo-grand hidden-md hidden-lg">
<%= image_tag "Photo2.png", width:"250px", align:"center" %>
  </div>
    <div class="logo-grand hidden-xs hidden-sm">
<%= image_tag "Photo2.png", width:"500px", align:"center" %>
  </div>
                </div><br>
                Pendant le programme de leadership interculturel, les jeunes leaders organiseront durant l'automne, en équipes de deux et accompagnés d’un mentor formé par Iciéla, une activité de rencontre interculturelle.</strong>
              </div>
              <div class="description-2">
                <h3>Qu’est-ce que ça implique pour les jeunes leaders?</h3>
                <p>Le progremme de leadership interculturel se déroule sur quatre mois, de septembre à décembre. Durant l'automne, les jeunes leaders auront une série de rencontres, certaines en équipe avec leur mentor et d'autres avec l'ensemble du groupe, pour progresser à travers différentes étapes d’apprentissage, jusqu’à la mise en place et la tenue de leur activité de rencontre interculturelle en novembre. </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h3>Pourquoi participer au programme de leadership interculturel? </h3>
                <ul>
                <li>Devenir un jeune leader interculturel en tant qu’acteur de changement pour un meilleur vivre-ensemble de la communauté montréalaise en influençant positivement son entourage et en agissant comme promoteur du dialogue interculturel.</li>
                <li>Se sensibiliser à l’impact de l'engagement citoyen par l'expérience pratique, particulièrement dans un contexte de rencontre interculturelle.</li>
                <li>Acquérir une solide confiance en ses capacités personnelles par l'acquisition d'outils concrets pour favoriser le dialogue interculturel et l'engagement citoyen.</li>
                <li><strong>Le plus important: rencontrer d'autres jeunes passionnés et allumés, et avoir beaucoup de plaisir!</strong></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h3>Profil du jeune leader interculturel </h3>
   Âgé entre 12 et 17 ans, le jeune leader interculturel est curieux de nature et passionné par la rencontre de l’autre. Il adore travailler en équipe, apprendre de ses pairs et surmonter des défis. Il est motivé à s'impliquer activement dans un processus d’engagement citoyen qui l’amènera à agir comme acteur de changement dans sa communauté, plus précisément en tant que promoteur du dialogue interculturel. Le jeune leader doit être présent à toutes les rencontres au calendrier.
              </div>
                 <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h3>À propos des organisateurs du programme </h3>
  L'activité Montréal à notre image est une initiative de l'organisme Iciéla, un organisme à but non lucratif dont la mission est de favoriser l'engagement citoyen, particulièrement celui des jeunes, dans le but de promouvoir le dialogue interculturel afin de contribuer à bâtir une société plus inclusive, solidaire et pacifique.<br><br>L'activité est réalisée avec le soutien financier et logistique de la Ville de Montréal, du Ministère de l'Emploi et de la Solidarité sociale du Québec et le Ministère de l'Emploi et du développement social du Canada. <br><br>Pour plus d'information sur Iciéla: <a href="https://www.iciela.org">www.iciela.org</a>
              </div>
            </div></div>
          </div></div></div></div>
          <div class="col-xs-12 col-sm-6 container-inm2">
                    <div class="col-xs-12">
                          <div class="description-2">
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h3>Comment t'inscrire </h3>
                <p>Afin de nous montrer ton enthousiasme pour relever la mission proposée, fais nous parvenir une courte vidéo de toi qui nous explique pourquoi tu tiens à faire partie de la cohorte exceptionnelle de jeunes leaders interculturels 2018. La vidéo doit être d’un maximum de 2 minutes. Partage-la sur ton mur Facebook avec la mention #jeuneleaderinterculturel2018 et en prenant bien soin d’identifier @iciela et de rendre ta publication publique. Si tu n’as pas de compte Facebook, écris à
<SCRIPT TYPE="text/javascript">

  emailE = 'iciela.org'

  emailE = ('jessica.renaud' + '@' + emailE)

  document.write(emailE)

</script>
                </p>
                        <p>Voici les étapes pour déposer ta candidature: </p>
                                <ul>
                <li>Remplis le <a href="https://docs.google.com/forms/d/e/1FAIpQLSeFRxHBYPJ2LpVI0xIiEwitNit5MhV2MHZbD7rZvd_7FjuXZA/viewform?usp=sf_link" class="banner-wagon-item banner-wagon-button inscription">formulaire</a></li>
                <li>Filme ta vidéo </li>
                <li>Partage-la sur Facebook avec la mention #jeuneleaderinterculturel2018 et en identifiant @iciela  </li>
                <li><strong>C’est tout!  </strong></li></ul>
                <p>Pour davantage d’information sur le programme de leadership interculturel, contacte Jessica Renaud à l’adresse suivante : <SCRIPT TYPE="text/javascript">

  emailE = 'iciela.org'

  emailE = ('jessica.renaud' + '@' + emailE)

  document.write(emailE)

</script>.</p>

              </div>
            </div>
          </div>
      </div>
    </div>
</section>

<section class="section3" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'groupe_fond.png' %>');">
  <div class="container" style="vertical-align: middle">
    <div class="howitwork">
      <div align="center">
                    <div class="logo-grand hidden-xs hidden-sm">
          <%= image_tag "Logo_MtlAnotreImage_MANI_film.png", alt:"Montréal à notre image", width:"400px", align:"center" %>
            </div>
            <div class="logo-grand hidden-md hidden-lg">
          <%= image_tag "Logo_MtlAnotreImage_MANI_film.png", alt:"Montréal à notre image", width:"250px", align:"center" %>
            </div>

         <h3><strong>Un film pour capter et partager l'expérience</strong><br>Des images vidéo sont tournées tout au long de l'expérience afin de produire un film présentant le chemin parcouru par les participantes et participants.<br><br>Film réalisé lors de l'édition 2017 de Montréal à notre image:
         <br><br>
         <div class="video-container"><iframe width="840" height="473" src="https://www.youtube.com/embed/EZGck-jclfQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div><br><br>
      </div>
    </div>
  </div>
</section>

<section >
<div >




  <div class="row"" style="height: 100%;">
    <div style="bottom:0; left:0;">
    <div class="col-xs-12 col-sm-6 section1"  style="background-image: url(background_Fatima.png); min-height: 100%; height:100%;  vertical-align:middle;">
      <div class="col-xs-6 col-sm-6 hidden-xs hidden-sm" style="text-align:left; vertical-align: bottom; min-height: 100%; height:100%; flex: 1; bottom: 0; margin-top: auto;">
              <%= image_tag "background_Fatima.png", width: "424"  ;
  %>
            </div>


              <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6" style="min-height: 100%; vertical-align:middle;display: table-cell;">
      <div class="description"   style="background-image: url(background_Fatima.png);vertical-align:middle;">
                       <%= image_tag "icon7.png", width:"100px", align:"center", margintop:"10px"
     %>

        <h2><strong>Tu as entre 12 et 17 ans?</strong>
         <br>
        Inscris-toi dès maintenant pour participer à l'aventure!</h2>
        <br>
        <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSeFRxHBYPJ2LpVI0xIiEwitNit5MhV2MHZbD7rZvd_7FjuXZA/viewform?usp=sf_link" class="banner-wagon-item banner-wagon-button inscription">INSCRIPTION</a></p>
      </div>
      </div>
    </div>


    <div class="col-xs-12 col-sm-6 container-inm" >
      <div class="col-xs-12 col-sm-12 col-lg-6 col-md-6" >
      <div class="description"">
                 <%= image_tag "icon8.png", width:"100px", align:"center", margintop:"10px"
     %>

        <!-- <%= image_tag "background_Eloise.png", id: "right-img" %>-->
        <h2><strong>Tu as plus que 17 ans?</strong>
         <br>
        Deviens <strong>mentor interculturel</strong> pour accompagner les participants!</h2>
        <br>
        <p><a href="http://www.iciela.org/wp/mentors-benevoles/" class="banner-wagon-item banner-wagon-button inscription">SAVOIR PLUS</a></p>
      </div>
 </div>

            <div class="col-xs-6 col-sm-6 hidden-xs hidden-sm" style="text-align:left; vertical-align: bottom; min-height: 100%; height:100%; flex: 1; bottom: 0; margin-top: auto;"">
              <%= image_tag "background_Leo.png", align:"right", width: "424"  %>
            </div>
</div>
</div>
  </div>
</div>
</section>


<div class="modal fade" id="benevoles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Nous sommes à la recherche de bénévoles</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="parents" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Texte pour les parents</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="partenaires" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Texte pour les partenaires</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="english" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Texte en anglais</div>
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- Right Navigation
             <div class="col m12 hidden-xs hidden-sm">
            <%= image_tag "background_Fatima.png", id: "left-img" %>
              </div>-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103444020-1', 'auto');
  ga('send', 'pageview');

</script>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      $("#left-img").css({"left": -10});
      $("#right-img").css({"right": -0});
    });
  </script>
<% end %>

