      <section >

<div id="home-page">
  <%= render 'shared/banner' %>
</div>
</section>

<section class="section1">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="description">
        <i class="fas fa-map" aria-hidden="true" style="text-decoration: none; margin-top: 10px; font-size: 60px"></i>
        <h3><strong>Une formation expérientielle</strong></h3>
        <p>Suis un programme qui combine des formations en grand groupe et des séances de travail pratiques.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="description">
        <i class="fas fa-video" aria-hidden="true" style="text-decoration: none; margin-top: 10px; font-size: 60px"></i>
        <h3><strong>Partage ton goût pour la rencontre</strong></h3>
        <p>Accompagné par un mentor, organise en équipe ta propre activité de rencontre interculturelle destinée au grand public.</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="description">
        <i class="fas fa-share-alt" aria-hidden="true" style="text-decoration: none; margin-top: 10px; font-size: 60px"></i>
        <h3><strong>Fais partie de la communauté</strong></h3>
        <p>Rencontre des jeunes passionnés et allumés du Canada et d’ailleurs et fait partie prenante d’une communauté engagée pour un meilleur vivre ensemble.</p>
      </div>
    </div>
  </div>
</div>
</section>
<section class="section3" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.5) 20%,rgba(246,239,248,0.5) 23%,rgba(152,83,179,0.6) 53%,rgba(150,88,181,0.4) 54%,rgba(86,229,235,0.4) 81%,rgba(74,255,245,0.2) 86%,rgba(255,255,255,0.8) 100%,rgba(255,255,255,0.9) 101%), url('<%= image_path 'groupe_mains.png' %>');">
  <div class="container" style="vertical-align: middle">
    <div class="howitwork">
      <div align="center">
          <%= image_tag "Logo_MtlAnotreImage_MANI.png", alt:"Montréal à notre image", width:"400px", align:"center" %>
          <h3><strong>Complète le programme de leadership interculturel et tu recevras un certificat de participation qui mettra de l’avant tes nouvelles compétences de leader positif dans ta communauté.<br><br></h3>
          <h4>Joins-toi à la cohorte de jeunes leaders interculturels de Montréal!</strong></h4><br>
         <a href="https://docs.google.com/forms/d/e/1FAIpQLSeFRxHBYPJ2LpVI0xIiEwitNit5MhV2MHZbD7rZvd_7FjuXZA/viewform?usp=sf_link" class="banner-wagon-item banner-wagon-button inscription">SOUMETS TA CANDIDATURE</a>
         <h3>C'est gratuit mais les places sont limitées!<h3>
      </div>
    </div>
  </div>
</section>
<section class="section4">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div align="center">
         <div class="row">
          <div class="col-xs-12">
              <div class="description-2">
                <h3><strong>Le programme</h3>
                <div align="center">
                <%= image_tag "Photo2.png", width:"500px", align:"center" %></div><br>
                Pendant le programme de leadership interculturel, les jeunes leaders organiseront durant l'automne, en équipes de deux et accompagnés d’un mentor formé par Iciéla, une activité de rencontre interculturelle.</strong>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Qu’est-ce qu’une activité de rencontre interculturelle? </h4>
                Une activité de rencontre interculturelle est un espace convivial créé dans le but de faciliter les rencontres et les échanges entre des personnes de diverses cultures et ce, au coeur du milieu de vie des jeunes (écoles, centre communautaire, centre jeunesse, etc.). Elle sera pensée, développée et organisée par les jeunes avec l'appuis de mentors et elle pourra prendre une panoplie de formes différentes. <br>
                <br>
                Exemples d’activités:
                <ul>
                <li>Dîner communautaire où chacun prépare un plat à partager issu de sa propre culture</li>
                <li>Cercle de lectures du monde</li>
                <li>Partage des bases de sa langue maternelle à un groupe francophone</li>
                <li>Projection de films ou documentaires sur les relations interculturelles suivie d'une séance de discussion </li>
                <li>Visite de son quartier à de nouveaux arrivants</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Aperçu du programme</h4>
                Le programme de leadership interculturel se déroule sur quatre mois, de septembre à décembre. Il comprend 5 séances de travail en petites équipes, 4 journées de formation en grand groupe et de nombreuses opportunités de participation à différents événements organisés par Iciéla (présence facultative).<br><br>
                <ul>
                <li><strong>Samedi 8 septembre :  </strong>Journée d’orientation sur le programme (méthodologie, outils de travail, formation des équipes) </li>
                <li><strong>Dimanche 16 septembre : </strong>Journée de formation en organisation d’activités et première séance de travail avec les mentors </li>
                <li><strong>Semaine du 23 au 29 septembre : </strong>Deuxième séance de travail (choix de la date à la discrétion de chacune des équipes)</li>
                <li><strong>Dimanche 14 octobre  : </strong>Journée de formation sur la promotion d’activités et troisième séance de travail </li>
                <li><strong>Semaine du 21 au 27 octobre : </strong>Quatrième séance de travail (choix de la date à la discrétion de chacune des équipes)</li>
                <li><strong>Vendredi 27 octobre : </strong>Soirée de lancement de la programmation </li>
                <li><strong>Semaine du 4 au 10 novembre : </strong>Tenue des activités de rencontres interculturelles dans le cadre de la semaine québécoise des rencontres interculturelles. </li>
                <li><strong>Semaine du 18 au 24 novembre : </strong>Cinquième séance de travail (choix de la date à la discrétion de chacune des équipes)</li>
                <li><strong>Samedi 15 décembre : </strong>Journée d’évaluation des apprentissages, remise des certificats de participation au programme de leadership interculturel et soirée festive.</li>
                </ul>
              </div>
            </div>
          </div>

      </div>
    </div>
          <div class="col-xs-12 col-sm-6 container-inm">
        <div class="row">
          <div class="col-xs-12">
              <div class="description-2">
                <h3><strong>Les jeunes leaders</strong></h3>
                <h4>Qu’est-ce que ça implique pour les jeunes leaders?</h4>
                <p>La deuxième partie de l'activité se déroule sur quatre mois, de septembre à décembre. Le programme débute avec une fin de semaine vers la mi-août (dates à confirmer) où tous les jeunes leaders se retrouvent pour revenir sur leur expérience de l'été et former leurs équipes pour la suite. Durant les trois mois qui suivront, les jeunes leaders auront deux rencontres par mois, une en équipe avec leur mentor et une avec l'ensemble du groupe, pour progresser à travers différentes étapes d’apprentissage, jusqu’à la mise en place et la tenue de leur activité de rencontre interculturelle en novembre. </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Pourquoi participer au programme de leadership interculturel? </h4>
                <ul>
                <li>Devenir jeune leader interculturel en tant qu’acteur de changement pour un meilleur vivre-ensemble de la communauté montréalaise en influençant positivement son entourage et en agissant comme promoteur du dialogue interculturel.</li>
                <li>Se sensibiliser à l’impact de l'engagement citoyen, particulièrement dans un contexte de rencontre interculturelle.</li>
                <li>Acquérir une solide confiance en ses capacités personnelles par l'acquisition d'outils concrets pour favoriser le dialogue interculturel et l'organisation d'activités.</li>
                <li><strong>Le plus important: rencontrer d'autres jeunes passionnés et allumés, et avoir beaucoup de plaisir!</strong></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Profil du jeune leader interculturel </h4>
   Âgé entre 12 et 17 ans, le jeune leader interculturel est curieux de nature et passionné par la rencontre de l’autre. Il adore travailler en équipe, apprendre de ses pairs et surmonter des défis. Il est motivé à s’engager activement dans un processus d’engagement citoyen qui l’amènera à agir comme acteur de changement dans sa communauté, plus précisément en tant que promoteur du dialogue interculturel. Le jeune leader doit être présent à toutes les rencontres obligatoires.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="description-2">
                <h4>Processus de sélection </h4>
                <p>Afin de nous montrer ton enthousiasme envers le programme, fais nous parvenir une vidéo de toi qui nous explique pourquoi tu tiens à faire partie de la cohorte exceptionnelle de jeunes leaders interculturels 2018. La vidéo doit être d’un maximum de 2 minute. Partage-la sur ton mur facebook avec la mention #jeuneleaderinterculturel2018 et en prenant bien soin d’identifier @iciela et de mettre ta publication publique. Si tu n’as pas de compte facebook, écris à
<SCRIPT TYPE="text/javascript">

  emailE = 'iciela.org'

  emailE = ('jessica.renaud' + '@' + emailE)

  document.write(emailE)

</script>
                </p>
                        <p>Voici les étapes pour déposer ta candidature: </p>
                                <ul>
                <li>Remplir le formulaire d’inscription en ligne (le bouton rouge sur ce site) </li>
                <li>Filme ta vidéo </li>
                <li>Partage-la sur Facebook avec la mention #jeuneleaderinterculturel2018 et en identifiant @iciela  </li>
                <li><strong>C’est tout!  </strong></li></ul>
                <p>Pour davantage d’informations sur le programme de leadership interculturel, contactez Jessica Renaud à l’adresse suivante : <SCRIPT TYPE="text/javascript">

  emailE = 'iciela.org'

  emailE = ('jessica.renaud' + '@' + emailE)

  document.write(emailE)

</script>.</p>

              </div>
            </div>
          </div>
      </div>
    </div>
</section>

<section class="section3" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'IMG_7494.jpg' %>');">
  <div class="container" style="vertical-align: middle">
    <div class="howitwork">
      <div align="center">
                  <%= image_tag "Logo_MtlAnotreImage_MANI.png", alt:"Montréal à notre image", width:"400px", align:"center" %>
         <h3><strong>Un film pour partager l'expérience</strong><br>Une série de projections publiques se sont tenues à l'automne 2017 pour susciter la réflexion sur le Vivre ensemble.
         <br><br>
         <div class="video-container"><iframe width="840" height="473" src="https://www.youtube.com/embed/EZGck-jclfQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div><br><br>
      </div>
    </div>
  </div>
</section>

<section class="section1">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6"  style="background-image: url(background_Fatima.png);">
      <div class="description">
        <i class="fa fa-user-plus" aria-hidden="true" style="text-decoration: none; margin-top: 10px; font-size: 60px"></i>
        <h3><strong>Tu as entre 12 et 17 ans?</strong>
         <br>
        Inscris-toi dès maintenant pour participer à l'aventure!</h3>
        <br>
        <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSeFRxHBYPJ2LpVI0xIiEwitNit5MhV2MHZbD7rZvd_7FjuXZA/viewform?usp=sf_link" class="banner-wagon-item banner-wagon-button inscription">JE M'INSCRIS</a></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="description">
        <i class="fas fa-users" aria-hidden="true" style="text-decoration: none; margin-top: 10px; font-size: 60px"></i>
        <h3><strong>Tu as plus que 17 ans?</strong>
         <br>
        Deviens <strong>mentor interculturel</strong> pour accompagner les participants!</h3>
        <br>
        <p><a href="http://www.iciela.org/wp/mentors-benevoles/" class="banner-wagon-item banner-wagon-button inscription">JE DEVIENS MENTOR</a></p>
      </div>
    </div>
  </div>
</div>
</section>
<!--

<div class="modal fade" id="benevoles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Nous sommes à la recherche de bénévoles</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="parents" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Texte pour les parents</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="partenaires" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Texte pour les partenaires</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="english" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span>

                    </button>

                <div class="modal-body">Texte en anglais</div>
                </div>
            </div>
        </div>
    </div>
</div>
-->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103444020-1', 'auto');
  ga('send', 'pageview');

</script>

